* {
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  max-width: 550px;
  padding: 0;
}

.header {
  align-items: center;
  background: rgb(102,51,153);
  background: linear-gradient(100deg, rgba(102,51,153,1) 0%, rgba(255,0,255,1) 100%);
  display: flex;
  flex-direction: row;
  height: 65px;
  margin: 0;
  padding: 20px;
  width: 100%;
}

.header-img {
  height: 30px;
  margin-right: 8px;
}

.header-title {
  font-size: larger;
  margin-right: auto;
}

.header-subheading {
  font-size: smaller;
}

main {
  padding: 16px;
}

.form {
  display: grid;
  gap: 16px;
  grid-template: 60px 40px / 1fr 1fr;
}

.form-label {
  color: blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

.form-input {
  border: 1px solid lightslategrey;
  border-radius: 8px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 8px;
  padding: 10px;
  text-indent: 4px;
  width: 100%;
}

.form-input:focus-visible, .form-btn:focus-visible {
  border: none;
  box-shadow: 0 0 5px 2px rgba(138,43,226,1),
              0 0 10px 3px rgba(255,20,147,1);
}

.form-btn {
  background: rgb(102,51,153);
  background: linear-gradient(100deg, rgba(102,51,153,1) 0%, rgba(255,0,255,1) 100%);
  border: none;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  grid-column: 1 / -1;
  padding: 10px;
}

.meme-img {
  width: 100%;
  margin: 16px auto;
}